@use './color.scss';
@import './utils.scss';

@mixin button-styles($color) {
  color: $color;

  &:hover {
    color: color.$bg-light;
    background-color: $color;
  }

  &:disabled {
    color: color.$search-placeholder-text;
    background-color: transparent;
  }
}

button {
  border: none;
  background-color: transparent;

  &.round {
    border-radius: 50%;
    padding: 0.688rem 0.688rem;

    & svg {
      vertical-align: middle;
    }
  }

  &:hover {
    cursor: pointer;
  }

  &.red {
    @include button-styles(color.$red);
  }

  &.green {
    @include button-styles(color.$green);
  }
}
